@page
@model DUSH17.Pages.Anti_corruptionModel
@{
	ViewData["Title"] = "Противодействие коррупции в МАУ ДО СШ№17";
	ViewBag.Description = "На данной странице вы можете найти документы о противодействии корупции в Муниципальном автономном учреждении Спортивная школа № 17 города Томска";
	ViewBag.Keywords = "СШ-17 Томск противодействие коррупции";
}
<div class="index_h">
	<h3 style="font-weight:400;margin-right:1%;">Противодействие коррупции</h3>
	<a style="font-weight:bold;text-align:end; text-decoration:none; color:black" href="#" class="bvi-open" title="Версия сайта для слабовидящих"><img /><img class="menu_imageEye" src="~/img/eye.svg" alt="Глаз" />Версия для слабовидящих</a>
</div>
<hr style="margin-top:0; color:black;height:1px" />
<div class="docs">
	<div class="info_line" style="width:100%">
			<a href="~/documents/Аникоррупционная_политика.pdf" target="_blank">
				Антикоррупиционная политика в МАУ ДО СШ №17<img src="~/images/Icons/doc.png" />
			</a>
	</div>
</div>