@page
@model DUSH17.Pages.Anti_terrorModel
@{
	ViewData["Title"] = "Противодействие коррупции в МАУ ДО СШ№17";
	ViewBag.Description = "На данной странице вы можете найти документы о противодействии корупции в Муниципальном автономном учреждении Спортивная школа № 17 города Томска";
	ViewBag.Keywords = "СШ-17 Томск противодействие коррупции";
}
<div class="index_h">
	<h3 style="font-weight:400;margin-right:1%;">Антитеррористическая защищенность</h3>
	<a style="font-weight:bold;text-align:end; text-decoration:none; color:black" href="#" class="bvi-open" title="Версия сайта для слабовидящих"><img /><img class="menu_imageEye" src="~/img/eye.svg" alt="Глаз" />Версия для слабовидящих</a>
</div>
<hr style="margin-top:0; color:black;height:1px" />
<div class="docs">
	<div class="info_line" style="width:100%">
		<h1 style="margin-top:0">
			ПАМЯТКА ГРАЖДАНАМ ОБ ИХ ДЕЙСТВИЯХ ПРИ УСТАНОВЛЕНИИ УРОВНЕЙ ТЕРРОРИСТИЧЕСКОЙ ОПАСНОСТИ
		</h1>
	</div>
	<div class="info_line" style="width:100%;">
		<h2 style="">
			В целях своевременного информирования населения о возникновении угрозы террористического акта могут устанавливаться уровни террористической опасности.
			<br />
			Уровень террористической опасности устанавливается решением председателя антитеррористической комиссии в субъекте Российской Федерации, которое подлежит незамедлительному обнародованию в средства массовой информации.
		</h2>
	</div>
	<div class="info_line" style="width:100%;margin-bottom:0;">
		<h2>
			<span>Повышенный «СИНИЙ» уровень</span>
		</h2>
	</div>
	<div class="info_line" style="width:100%;display:block;margin-bottom:2%">
		<h2 style="line-height:1.5;margin-bottom:0">
			устанавливается при наличии требующей подтверждения информации о реальной возможности совершения террористического акта.<br  style="margin-bottom:0.2%"/>
			При установлении «синего» уровня террористической опасности, рекомендуется:
		</h2>
		<h2 style="line-height:1.5">
			1. При нахождении на улице, в местах массового пребывания людей, общественном транспорте обращать внимание на:
		</h2>
		<ul style="margin-bottom:0;">
			<li>
				<h2>
					внешний вид окружающих (одежда не соответствует времени года либо создается впечатление, что под ней находится какой - то посторонний предмет);
				</h2>
			</li>
			<li>
				<h2>
					странности в поведении окружающих (проявление нервозности, напряженного состояния, постоянное оглядывание по сторонам, неразборчивое бормотание, попытки избежать встречи с сотрудниками правоохранительных органов);
				</h2>
			</li>
			<li>
				<h2>
					брошенные автомобили, подозрительные предметы (мешки, сумки, рюкзаки, чемоданы, пакеты, из которых могут быть видны электрические провода, электрические приборы и т.п.).
				</h2>
			</li>
		</ul>
		<h2 style="line-height:1.5">
			2. Обо всех подозрительных ситуациях незамедлительно сообщать сотрудникам правоохранительных органов.<br />
			3. Оказывать содействие правоохранительным органам.<br />
			4. Относиться с пониманием и терпением к повышенному вниманию правоохранительных органов.<br />
			5. Не принимать от незнакомых людей свертки, коробки, сумки, рюкзаки, чемоданы и другие сомнительные предметы даже на временное хранение, а также для транспортировки. При обнаружении подозрительных предметов не приближаться к ним, не трогать, не вскрывать и не передвигать.<br />
			6. Разъяснить в семье пожилым людям и детям, что любой предмет, найденный на улице или в подъезде, может представлять опасность для их жизни.<br />
			7. Быть в курсе происходящих событий (следить за новостями по телевидению, радио, сети «Интернет»).<br />
		</h2>
	</div>
	<div class="info_line" style="width:100%;margin-bottom:0;">
		<h2>
			<span>Высокий «ЖЕЛТЫЙ» уровень</span>
		</h2>
	</div>
	<div class="info_line" style="width:100%;display:block;margin-bottom:2%">
		<h2 style="line-height:1.5;margin-bottom:0">
			устанавливается при наличии подтвержденной информации о реальной возможности совершения террористического акта<br />
			Наряду с действиями, осуществляемыми при установлении «синего» уровня террористической опасности, рекомендуется:
		</h2>
		<h2 style="line-height:1.5">
			1. Воздержаться, по возможности, от посещения мест массового пребывания людей.<br />
			2. При нахождении на улице (в общественном транспорте) иметь при себе документы, удостоверяющие личность. Предоставлять их для проверки по первому требованию сотрудников правоохранительных органов.<br />
			3. При нахождении в общественных зданиях (торговых центрах, вокзалах, аэропортах и т.п.) обращать внимание на расположение запасных выходов и указателей путей эвакуации при пожаре.<br />
			4. Обращать внимание на появление незнакомых людей и автомобилей на прилегающих к жилым домам территориях.<br />
			5. Воздержаться от передвижения с крупногабаритными сумками, рюкзаками, чемоданами.<br />
			6. Обсудить в семье план действий в случае возникновения чрезвычайной ситуации:<br />
		</h2>
		<ul style="margin-bottom:0;">
			<li>
				<h2>
					определить место, где вы сможете встретиться с членами вашей семьи в экстренной ситуации;
				</h2>
			</li>
			<li>
				<h2>
					удостовериться, что у всех членов семьи есть номера телефонов других членов семьи, родственников и экстренных служб.
				</h2>
			</li>
		</ul>
	</div>
	<div class="info_line" style="width:100%;margin-bottom:0;">
		<h2>
			<span>Критический «КРАСНЫЙ» уровень</span>
		</h2>
	</div>
	<div class="info_line" style="width:100%;display:block;margin-bottom:2%">
		<h2 style="line-height:1.5;margin-bottom:0">
			устанавливается при наличии информации о совершенном террористическом акте либо о совершении действий, создающих непосредственную угрозу террористического акта.<br style="margin-bottom:0.2%" />
			Наряду с действиями, осуществляемыми при установлении «синего» и «желтого» уровней террористической опасности, рекомендуется:
		</h2>
		<h2 style="line-height:1.5">
			1. Организовать дежурство жильцов вашего дома, которые будут регулярно обходить здание, подъезды, обращая особое внимание на появление незнакомых лиц и автомобилей, разгрузку ящиков и мешков.<br />
			2. Отказаться от посещения мест массового пребывания людей, отложить поездки по территории, на которой установлен уровень террористической опасности, ограничить время пребывания детей на улице.<br />
			3. Подготовиться к возможной эвакуации:
		</h2>
		<ul style="margin-bottom:0;">
			<li>
				<h2>
					подготовить набор предметов первой необходимости, деньги и документы;
				</h2>
			</li>
			<li>
				<h2>
					подготовить запас медицинских средств, необходимых для оказания первой медицинской помощи;
				</h2>
			</li>
			<li>
				<h2>
					заготовить трехдневный запас воды и предметов питания для членов семьи.
				</h2>
			</li>
		</ul>
		<h2 style="line-height:1.5">
			4. Оказавшись вблизи или в месте проведения террористического акта, следует как можно скорее покинуть его без паники, избегать проявлений любопытства, при выходе из эпицентра 
			постараться помочь пострадавшим покинуть опасную зону, не подбирать предметы и вещи, не проводить видео и фотосъемку.<br />
			5. Держать постоянно включенными телевизор, радиоприемник или радиоточку.<br />
			6. Не допускать распространения непроверенной информации о совершении действий, создающих непосредственную угрозу террористического акта.<br />
		</h2>
	</div>
	<div class="info_line" style="width:100%;margin-bottom:0;">
		<h2>
			<span>Внимание!</span>
		</h2>
	</div>
	<div class="info_line" style="width:100%;display:block;margin-bottom:2%">
		<h2 style="margin-bottom:0">
			В качестве маскировки для взрывных устройств террористами могут использоваться обычные бытовые предметы: коробки, сумки, портфели, сигаретные пачки, мобильные телефоны, игрушки.<br />
			Объясните это вашим детям, родным и знакомым.<br />
			Не будьте равнодушными, ваши своевременные действия могут помочь предотвратить террористический акт и сохранить жизни окружающих.
		</h2>
	</div>
</div>
