@page
@model DUSH17.Pages.CreateCompetitionModel
@{
    <h2>Добавление соревнования</h2>
    <form method="post">
    <div class="create_container">
         <p style="width:40%">
            <label>Наименование</label><br />
            <input style="width:100%" name="NameOfCompetition" required/>
        </p>
        <p>
            <label>Уровень</label><br />
            @Html.DropDownList("CompetitionLevelId", Model.Levels as SelectList)

        </p>
        <p>
            <label>Город</label><br />
            <input name="City" required/>
        </p>
        <p>
            <label>Дата начала</label><br />
            <input type="date" name="sd" required />
        </p>
        <p>
            <label>Дата завершения</label><br />
            <input type="date" name="ed" required/>
        </p>
        <p>
            <label>Количество команд</label><br />
            <input type="number" name="CountOfTeams" min="2" max="30" value="5" required/>
        </p>
        <input class="CreateButton" type="submit" value="Отправить" />
    </div>

    </form>
}
