@page
@model DUSH17.Pages.CrossModel
@{
	ViewData["Title"] = "Кросс Нации";
	ViewBag.Description = "Кросс Нации";
	ViewBag.Keywords = "СШ-17 Томск, Кросс Нации";
}
<html>
<body class="news">
	<img src="~/images/News/Cross.jpg" style="width:100%;margin-bottom:1%" />
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
		<h2 style="margin:0;">
			<span style="font-weight:bold">Центральный старт Всероссийского дня бега «Кросс нации – 2024» в Томской области состоится 21 сентября  на стадионе "Буревестник"</span>

		</h2>
		<hr style="margin-top:0;margin-bottom:1%; color:black;height:1px" />
		<h2>
			В программе соревнований — массовый и семейный забеги, а также забеги на дистанции с учетом времени
		</h2>
		<h2>
			Зарегистрироваться на участие во Всероссийском дне бега «Кросс нации – 2024» можно до 19 сентября на портале госуслуг <a style="color:black" target="_blank" href="https://www.gosuslugi.ru/landing/sport">https://www.gosuslugi.ru/landing/sport</a>  (заявка на оргео не требуется) Необходимо зайти в личный кабинет, ввести в строку поиска «Кросс нации», выбрать нужный регион, место проведения и записаться на забег.
			Обязательным условием участия в кроссе является медицинский допуск.
		</h2>
		<h2>
			Мероприятие состоится в Томске на стадионе «Буревестник» (ул. 19-й Гвардейской Дивизии, 20). Торжественное открытие начнется в 10:50.
		</h2>
	</div>
</body>

</html>
