@page
@model DUSH17.Pages.fcgsModel
@{
}
<html>
<body class="news">
	<img src="~/images/News/fkgs3.jpg" style="width:100%;margin-bottom:1%" />
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
		<h1 style="margin:0;">
			Томичи решают: как будут выглядеть благоустроенные общественные пространства в городе
		</h1>
		<hr style="margin-top:0;margin-bottom:1%; color:black;height:1px" />
		<h2>
			В Томске продолжается голосование за варианты дизайн-проектов общественных пространств. Их благоустройство будет выполнено в 2025 году в рамках федерального проекта «Формирование комфортной городской среды».
		</h2>
		<h2>
			Голосование проводится на общероссийской платформе <a style="color:black; " href="https://70.gorodsreda.ru">za.gorodsreda.ru</a> и продлится по 30 апреля. В нем может принять участие любой желающий в возрасте от 14 лет. 
		</h2>
		<h2>
			Жителям Томска предстоит выбрать варианты дизайн-проектов девяти общественных пространств:
		</h2>
		<h2>
			Напомним, жителям Томска предстоит выбрать варианты дизайн-проектов 9
			общественных пространств:
		</h2>
		<ul style="margin-bottom:0">
			<li>
				<h2><span style="font-weight:500">Сквер Купеческий (переулок Дербышевский, 17), вторая очередь.</span> Проект предлагает обустройство транзитных дорожек, размещение малых архитектурных форм (МАФ), таких как скамейки и урны, проведение освещения и озеленения. </h2>
			</li>
			<li>
				<h2><span style="font-weight:500">Сквер по улице Ивановского, 3-13, вторая очередь.</span> Предлагается организация пешеходных путей, устройство поля для мини-футбола, живых изгородей.</h2>
			</li>
			<li>
				<h2><span style="font-weight:500">Улица Трудовая, 15-17, вторая очередь.</span> Планируется дальнейшее обустройство тротуаров, проведение освещения и озеленения. </h2>
			</li>
			<li>
				<h2><span style="font-weight:500">Спортивная площадка (проспект Фрунзе, 118).</span> Предлагается обустроить песчаное покрытие, установить МАФы и ограждение.</h2>
			</li>
			<li>
				<h2><span style="font-weight:500">Сад "Белое озеро".</span> Проект предлагает обустройство пешеходных дорожек, освещение, размещение малых архитектурных форм, организацию зон тихого отдыха.</h2>
			</li>
			<li>
				<h2><span style="font-weight:500">"Медицинский" сквер (переулок Баранчуковский, 4).</span> В проекте предлагается провести освещение территории.</h2>
			</li>
			<li>
				<h2><span style="font-weight:500">Парк "Звездный" в микрорайоне "Наука", вторая очередь</span>. Планируется создать пешеходную тропу, соединяющую существующую смотровую площадку с жилым микрорайоном. </h2>
			</li>
			<li>
				<h2><span style="font-weight:500">Сквер в районе ОКБ (улица Ивана Черных, 127).</span> Проект предполагает создание пешеходной тропы в сосновом лесу. Вдоль тропы предлагается установить малые архитектурные формы – скамьи и урны. </h2>
			</li>
			<li>
				<h2><span style="font-weight:500">Сквер имени академика Яблокова (Московский тракт, 8в).</span> В проекте заложены обустройство дорожек, установка МАФов, озеленение, освещение.</h2>
			</li>
		</ul>
		<h2>
			Как проголосовать? На карточке – краткая инструкция.
		</h2>
		<div style="text-align:center">
			<img src="~/images/News/инструкция.jfif" style="width:100%; max-width:500px; height:auto" />
		</div>
		<h2>
			Всероссийское голосование за новые объекты благоустройства реализуется по национальному проекту «Жилье и городская среда», инициированному Президентом России.
		</h2>
		<h2>
			#ФКГС #ГородаМеняютсяДляНас
		</h2>
	</div>
</body>

</html>