@page
@model DUSH17.Pages.lokobolModel
@{
	ViewData["Title"] = "Локобол в Томске";
	ViewBag.Description = "С 17 по 19 мая на стадионе «Темп» пройдет региональный этап международного футбольного фестиваля «Локобол-2024-РЖД»";
	ViewBag.Keywords = "СШ-17 Томск, ДЮСШ-17 Томск, СШ №17, СШ% 17 Томск, Спортивная школа 17 Томск, СШ 17 томск официальный сайт, 2Drots, Слон";
}
<html>
<body class="news">
	<img src="~/images/News/lokobol.jpg" style="width:100%;margin-bottom:1%" />
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
		<h2 style="margin:0;font-weight:bold">
			С 17 по 19 мая на стадионе «Темп» пройдет региональный этап международного футбольного фестиваля «Локобол-2024-РЖД»
		</h2>
		<hr style="margin-top:0;margin-bottom:1%; color:black;height:1px" />
		<h2>
			Соревнования пройдут среди юношей и девушек 2012-2014 годов рождения
		</h2>
		<h2>
			В региональном этапе среди юношеских команд примут участие 24 коллектива, распределенных по четырем группам:
		</h2>
		<h2 style="font-weight:bold">
			ГРУППА «А»:
		</h2>
		<ol style="margin-bottom:0">
			<li>
				<h2>Альянс-2014 (Томск)</h2>
			</li>
			<li>
				<h2>ПГ-2013 (Томск)</h2>
			</li>
			<li>
				<h2>Ермак-2013 (Томск)</h2>
			</li>
			<li>
				<h2>Ермак-2014 (Томск)</h2>
			</li>
			<li>
				<h2>Фристайл (Томск)</h2> 
			</li>
			<li>
				<h2>ФК Колос (Кожевниково)</h2>
			</li>
		</ol>
		<h2 style="font-weight:bold">
			ГРУППА «Б»:
		</h2>
		<ol style="margin-bottom:0">
			<li>
				<h2>СШ №17-1 (Томск)</h2>
			</li>
			<li>
				<h2>СШ Кедр-2 (Томск)</h2>
			</li>
			<li>
				<h2>ФК Шегарка (Мельниково)</h2>
			</li>
			<li>
				<h2>СШ Лидер-2 (Северск)</h2>
			</li>
			<li>
				<h2>СШ №17-4 (Томск)</h2>
			</li>
			<li>
				<h2>18 гимназия (Томск)</h2>
			</li>
		</ol>
		<h2 style="font-weight:bold">
			ГРУППА «С»:
		</h2>
		<ol style="margin-bottom:0">
			<li>
				<h2>Ермак-2012-2(Томск)</h2>
			</li>
			<li>
				<h2>СШ Кедр-1 (Томск)</h2>
			</li>
			<li>
				<h2>СШ №17-2 (Томск)</h2>
			</li>
			<li>
				<h2>СШ Кедр-4 (Томск)</h2>
			</li>
			<li>
				<h2>СШ Лидер-1 (Северск)</h2>
			</li>
			<li>
				<h2>Тоян-2 (Томск)</h2>
			</li>
		</ol>
		<h2 style="font-weight:bold">
			ГРУППА «Д»:
		</h2>
		<ol style="margin-bottom:0">
			<li>
				<h2>Ермак-2012-1 (Томск)</h2>
			</li>
			<li>
				<h2>ФК Колпашево (Колпашево)</h2>
			</li>
			<li>
				<h2>СШ Кедр-3 (Томск)</h2>
			</li>
			<li>
				<h2>Тигры (Томск)</h2>
			</li>
			<li>
				<h2>СШ №17 - 3 (Томск)</h2>
			</li>
			<li>
				<h2>Тоян (Томск)</h2>
			</li>
		</ol>
		<br/>
		<h2>
			В женской части соревнований команды девочек представлены следующими коллективами:
		</h2>
		<ol style="margin-bottom:0">
			<li>
				<h2>Асино</h2>
			</li>
			<li>
				<h2>Тигрицы</h2>
			</li>
			<li>
				<h2>СШ №17</h2>
			</li>
			<li>
				<h2>Варяг</h2>
			</li>
			<li>
				<h2>Старт-Кедр</h2>
			</li>
			<li>
				<h2>Шегарка</h2>
			</li>
		</ol>
		<h2 style="font-weight:bold">
			17 мая юноши начнут игры с 10:00, девушки - с 18:00. Все игры пройдет на стадионе «Темп»!
		</h2>
		<h2 style="font-weight:bold">
			Приглашаем болельщиков поддержать любимые команды!
		</h2>
	</div>
</body>

</html>
