@page
@model DUSH17.Pages.NaborModel
@{
    ViewData["Title"] = "Набор в футбольную школу";
    ViewBag.Description = "Спортивная школа №17 ведет набор мальчиков и девочек в возрасте от 5 лет в группы для занятий футболом";
    ViewBag.Keywords = "СШ-17 Томск, ДЮСШ-17 Томск, СШ №17, СШ% 17 Томск, Спортивная школа 17 Томск, СШ 17 томск официальный сайт";
}
<html>
	<body class="news">
		<img src="~/images/News/news2.jpg" style="width:100%;margin-bottom:1%"/>
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
			<h2 style="margin:0;">
				Спортивная школа №17 города Томска ведет набор мальчиков и девочек в возрасте от 5 лет
			</h2>
			<hr style="margin-top:0;margin-bottom:1%; color:black;height:1px" />
			<h2>
				Занятия проходят по ардресам:
			</h2>
			<ul style="margin-bottom:0">
				<li>
					<h2>Улица 5-ой Армии, 15 стр. 1 "Манеж Восход"</h2>
				</li>
				<li>
					<h2>Улица Иркутский тракт, 65 стр. 13 "Нефтехимик"</h2>

				</li>
				<li>
					<h2>Улица Новгородская, 22 "Энергетик"</h2>
				</li>
				<li>
					<h2>Улица Нахимова, 1 "Победа"</h2>
				</li>
				<li>
					<h2>Улица 79 Гвардейской Дивизии, 25/2 "Спортзал ТГАСУ"</h2>
				</li>
				<li>
					<h2>Улица 79 Гвардейской Дивизии, 20 стр. 1 "Стадион Политехник"</h2>
				</li>
				<li>
					<h2>Улица Рабочая, 23/3 "Стадион Локомотив"</h2>
				</li>
				<li>
					<h2>Переулок Баранчуковский, 14 "Темп"</h2>
				</li>
			</ul>
			<div style="display:flex">
			<h2>Телефон: 46-22-96</h2>
			<a style="margin-left:1%" href="https://vk.com/public116565977" target="_blank">
				<div style="width:100%">
					<img src="~/images/Icons/vk.png"  style="width:70%"/>
				</div>
				</a>
			</div>

		</div>
	</body>

</html>
