@page
@model DUSH17.Pages.newsFamModel
@{
}
<html>
<body class="news">
	<img src="~/images/News/fam.jpg" style="width:100%;margin-bottom:1%" />
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
		<h1 style="margin:0;">
			В РОССИИ СТАРТОВАЛ ПРОЕКТ «ВСЕЙ СЕМЬЕЙ»
		</h1>
		<hr style="margin-top:0;margin-bottom:1%; color:black;height:1px" />
		<h2>
			Информационным партнером проекта выступил Институт развития интернета (АНО «ИРИ»). Проект приурочен к объявленному Президентом РФ Году Семьи и направлен на укрепление традиционных семейных ценностей среди россиян.
		</h2>
		<h2>
			Суть проекта – проста. Раз в неделю семьи-участницы получают несложные задания, которые нужно выполнять всей семьей. Среди заданий, например: всем вместе приготовить ужин, сходить в музей или заняться спортом. Затем нужно выложить фотографию, где будет видно, как семья выполнила задание, в социальные сети (VK или Одноклассники) с хештэгом #всейсемьей, #всейсемьей70.
		</h2>
		<h2>
			Каждый месяц организаторы будут проводить промежуточные розыгрыши подарков для всех участников проекта. В конце марта состоится финальное награждение самых активных семей – их ждут особенные и ценные подарки, например, 100 семейных туров по России от проекта «Больше, чем путешествие» и др.
		</h2>
		<h2>
			Кроме того, семьи, выполнившие все задания проекта, смогут собрать эксклюзивную коллекцию уникальных электронных вкладышей «Семья – это». Их специально для проекта и в честь Года семьи создали российские иллюстраторы.
		</h2>
		<h2>
			Принять участие может абсолютно любая российская семья с детьми. Для этого нужно пройти регистрацию в одной из социальных сетей:
		</h2>
		<ul style="margin-bottom:0">
			<li>
				<h2>VK: <a href="https://vk.com/im?sel=-223569207" target="_blank" style="color:black">https://vk.com/im?sel=-223569207</a></h2>
			</li>
			<li>
				<h2>Одноклассники: <a href="https://ok.ru/group/70000004698632/messages" target="_blank" style="color:black">https://ok.ru/group/70000004698632/messages</a></h2>

			</li>
		</ul>
		<h2>
			Вся информация о проекте «Всей семьей» – на официальном сайте проекта: <a href="https://всейсемьей.рф/" target="_blank" style="color:black">всейсемьей.рф</a>
		</h2>
		<h2>
			Присоединяйтесь! Давайте покажем, что в Томске самые активные и дружные семьи!
		</h2>
		<h2>
			#всейсемьей <br />
			#всейсемьей70
		</h2>
	</div>
</body>

</html>