@page
@model DUSH17.Pages.siburModel
@{
	ViewData["Title"] = "Дмитрий Сычев в манеже Восход";
	ViewBag.Description = "Спортивная школа №17 Школа футбола Сибур";
	ViewBag.Keywords = "СШ-17 Томск, ДЮСШ-17 Томск, СШ №17, СШ% 17 Томск, Спортивная школа 17 Томск, СШ 17 томск официальный сайт, Сибур, Школа футбола, Дмитрий Сычёв";
}
<html>
<body class="news">
	<img src="~/images/News/siburS.jpg" style="width:100%;margin-bottom:1%" />
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
		<h2 style="margin:0;">
			Дмитрий Сычев в манеже "Восход"
		</h2>
		<hr style="margin-top:0;margin-bottom:1%; color:black;height:1px" />
		<h2>
			В манеже «Восход» куратор всероссийского спортивного проекта «Школа футбола СИБУР», чемпион России, футболист Дмитрий Сычев проводит мастер-класс и автограф-сессию для юных футболистов
		</h2>
		<h2>
			Напомним, для участников разработана увлекательная тренировочная программа: за 3 часа каждый спортсмен пройдет тестирование, поучаствует в профессиональном тренировочном процессе и в игре покажет свои навыки. По итогам отборочных этапов 3 юношей и 3 девушки получат путевку в летний спортивный лагерь в Нижегородской области «Море спорта». Все расходы – за счет компании СИБУР
		</h2>
		<h2>
			Детей ждут яркие эмоции, профессиональная тренировка, крутые сувениры, а - финалистов увлекательное путешествие и возможность поработать над собой с командой профессиональных тренеров!
		</h2>
		<div style="display:flex">
			<div style="width:48%;margin-right:2%">
				<img src="~/images/News/s1.jpg" style="width:100%;margin-bottom:1%" />
			</div>
			<div style="width:48%">
				<img src="~/images/News/s2.jpg" style="width:100%;margin-bottom:1%" />
			</div>
			
		</div>
	</div>
</body>

</html>

