@page
@model DUSH17.Pages.SlonModel
@{
	ViewData["Title"] = "Слон в Томске";
	ViewBag.Description = "Спортивная школа №17 Слон 2Drots";
	ViewBag.Keywords = "СШ-17 Томск, ДЮСШ-17 Томск, СШ №17, СШ% 17 Томск, Спортивная школа 17 Томск, СШ 17 томск официальный сайт, 2Drots, Слон";
}
<html>
<body class="news">
	<img src="~/images/News/СлонТомск.jpg" style="width:100%;margin-bottom:1%" />
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
		<h2 style="margin:0;">
			ФУТБОЛИСТ 2DROTS В ТОМСКЕ!
		</h2>
		<hr style="margin-top:0;margin-bottom:1%; color:black;height:1px" />
		<h2>
			Рады сообщить, что в наш любимый город Томск приезжает лучший полузащитник МЕДИАЛИГИ Владислав Ослоновский
		</h2>
		<h2>
			11-12 декабря пройдут съемки сериала о команде ЮФЛ города Томска с участием футболиста команды 2Drots
			Наши воспитанники 2007 и 2008 г.р. примут участие в тренировочном процессе и челлендже вместе со Слоном
		</h2>
		<h2>
			Наши воспитанники 2007 и 2008 г.р. примут участие в тренировочном процессе и челлендже вместе со Слоном
		</h2>
		<ul style="margin-bottom:0">
			<li>
				<h2>Стадион «Восход» ул. 5-ой Армии, 15, стр. 1</h2>
			</li>
			<li>
				<h2>11-12 декабря 2023</h2>

			</li>
			<li>
				<h2>16:30</h2>
			</li>
			<li>
				<h2>ВХОД СВОБОДНЫЙ!</h2>
			</li>
		</ul>

	</div>
</body>

</html>

