@page
@model DUSH17.Pages.soboleznovaniyaModel
@{
	ViewData["Title"] = "Соболезнования";
	ViewBag.Description = "Спортивная школа №17 выражает свои соболезнования";
	ViewBag.Keywords = "СШ-17 Томск, ДЮСШ-17 Томск, СШ №17, СШ% 17 Томск, Спортивная школа 17 Томск, СШ 17 томск официальный сайт, Крокус, Соболезовнания";
}
<html>
<body class="news">
	<img src="~/images/News/svecha.jpg" style="width:100%;margin-bottom:1%" />
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
		<h2 style="margin:0;">
			Спортивная школа №17 Города Томска выражает глубокие соболезнования родным и близким жертв теракта в «Крокус Сити Холле».<br /><br /> Берегите себя и своих близких
		</h2>

	</div>
</body>

</html>
