@page
@model DUSH17.Pages.TeachingStaffModel
@{
	ViewData["Title"] = "Педагогический состав";
}
<body class="info">
	<div class="info_grid">
		<div class="index_h" style="grid-column-start:1;grid-column-end:3">
			<h3 style="font-weight:400;margin-right:1%;">Сведения об образовательной организации</h3>
			<a style="font-weight:bold;text-align:end; text-decoration:none; color:black" href="#" class="bvi-open" title="Версия сайта для слабовидящих"><img /><img class="menu_imageEye" src="~/img/eye.svg" alt="Глаз" />Версия для слабовидящих</a>
		</div>
		<hr style="grid-column-start:1;grid-column-end:3;margin-bottom:1%;margin-top:0; color:black;height:1px;width:100%" />
		<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light bg-white box-shadow mb-3 infopagenav" style="margin-bottom:0 !important;padding:0 !important;border-radius:0px 0px 8px 8px">
			<div class="container">
				<button style="border:none;height:10%;margin-top:1%; margin-bottom:1%" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#xxx" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="xxx" class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item teampage">
							<a asp-page="">Основные сведения</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/Structure">
								Структура и органы управления образовательной организацией
							</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/Documents">Документы</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/Education">Образование</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/Management">Руководство</a>
						</li>
						<li class="nav-item teampage">
							<a style="color:#c5002e" asp-page="/TeachingStaff">Педагогический состав</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/MTO">Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/PaidServices">Платные образовательные услуги</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/FinancialActivities">Финансово-хозяйственная деятельность</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/Vacancies">Вакантные места для приема (перевода) обучающихся</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/info">Доступная среда</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/Scholarship">Стипендии и меры поддержки обучающихся</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/info">Международное сотрудничество</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/CateringServices">Организация питания</a>
						</li>
						<li class="nav-item teampage">
							<a asp-page="/Standarts">Образовательные стандарты и требования</a>
						</li>
					</ul>
				</div>

			</div>
		</nav>
		<div class="select_categ">
			<div class="categ">
				<a asp-page="/info">Основные сведения</a>
			</div>
			<div class="categ">
				<a asp-page="/Structure">
					Структура и органы управления образовательной организацией
				</a>
			</div>
			<div class="categ">
				<a asp-page="/Documents">Документы</a>
			</div>
			<div class="categ">
				<a asp-page="/Education">Образование</a>
			</div>
			<div class="categ">
				<a asp-page="/Management">Руководство</a>
			</div>
			<div class="categ">
				<a style="color:#c5002e" asp-page="/TeachingStaff">Педагогический состав</a>
			</div>
			<div class="categ">
				<a asp-page="/MTO">Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда</a>
			</div>
			<div class="categ">
				<a asp-page="/PaidServices">Платные образовательные услуги</a>
			</div>
			<div class="categ">
				<a asp-page="/FinancialActivities">Финансово-хозяйственная деятельность</a>
			</div>
			<div class="categ">
				<a asp-page="/Vacancies">Вакантные места для приема (перевода) обучающихся</a>
			</div>
			<div class="categ">
				<a asp-page="/Scholarship">Стипендии и меры поддержки обучающихся</a>
			</div>
			<div class="categ">
				<a asp-page="/info">Международное сотрудничество</a>
			</div>
			<div class="categ">
				<a asp-page="/CateringServices">Организация питания</a>
			</div>
			<div class="categ">
				<a asp-page="/Standarts">Образовательные стандарты и требования</a>
			</div>
		</div>

		<div class="docs">
			<div style="display:flex;width:100%;margin-top:0"><h1 style="margin-top:0;">Педагогический состав</h1></div>
			<hr style="margin-bottom:1%;margin-top:0; color:black;height:1px;width:100%" />
			<div class="teachers">
				<div class="teacher">
					<div class="photo" style="width:100%">
						<img src="~/images/Coaches/КузнецоваТМ.jpg"/>
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;"> Кузнецова Татьяна Михайловна</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 18 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 4 года</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							ТГПУ, учитель начальных классов, по специальности «Педагогика и методика начального образования», 2002 г., -Мастер спорта ЛСМ СВС по «Жиму лежа без экипировки», 2017г.
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО,2019 г. 72 часа, по программе «Организация физкультурно-оздоровительной деятельности в дополнительном образовании».
						</h3>
						<h3>
							АНООДПО Академия образования взрослых «Альтернатива», 336 часов, 30.06.2022 г., г. Киров, профессиональная переподготовка по программе «Педагогическое образование. теория и методика 
							дополнительного образования детей»
						</h3>
					</div>
				</div>
@*				<div class="teacher">
					<div class="photo">
						<img src="~/images/Management/Empty.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;">Смотрина Наталья Ивановна</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 6 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 6 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Г. Северск, ФГОУВПО «Северская государственная технологическая академия», квалификация «Экономист», по специальности «Национальная экономика», диплом ВСГ 1926947, 11.05.2008 г., рег № 387.
						</h3>
					</div>
				</div>*@
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/Тимофеева Елена Александровна.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;"> Тимофеева Елена Александровна</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 17 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 14 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3 style="">
							ФГБОУВПО «Томский государственный педагогический университет» Диплом дубликат 1992 г.
							Квалификация –учитель начальных классов, по специальности «Педагогика и методика начального обучения».
							
							
						</h3>
						<h3>
							Профессиональная переподготовка в 2016 г. по программе «Теория и методика физической культуры и спортивной тренировки», на ведение профессиональной деятельности в сфере физической культуры и спорта, г. Омск, факультет
							дополнительного профессионального образования ФГБУВО «Сибирский гос. Университет физической культуры».<br />
						</h3>
						<h3>
							Профессиональная переподготовка  по программе «Инструктор по спорту» в объеме 256 часов в АНО Дополнительного профессионального образования «Сибирский колледж фитнеса», 2019 г.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo" style="">
						<img style="border-bottom:3px solid #c5002e;border-radius:8px 0px 0px 0px" src="~/images/Coaches/Юров Николай Павлович.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;"> Юров Николай Павлович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 59 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 58 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Томский государственный педагогический институт, в 1973 г., по специальности «Физическое воспитание, квалификация «учитель средней школы».
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО,2017 г. по программе «Повышение качества образования в предметной области «Физическая культура» на основе подготовки к сдаче нормативов комплекса ГТО», в объеме 80 часов.
						</h3>
						<h3>
							Курсы профессиональной переподготовки с 03.02.2020 по 22.10.2020, «Спортинвая подготовка по виду спорта (группе видов спорта)»
						</h3>
						<h4>
							Награды, звания (ЗР, ЗТ, отличник и пр.), грамоты (за последние 5 лет не ниже начальника управления/департамента)
						</h4>
						<h3>
							Почетное звание Заслуженный работник физической культурыРСФСР» , Президиум Верховного Совета РСФСР Указом от 30.01.1987 года, Почетная грамота Администрации Томской области, февраль 2016 г.<br />
						</h3>
						<h3>
							Почетная грамота Департамента по молодежной политике, физической культуры и спорту Томской области.
						</h3>
						<h3>
							Знак «за вклад в развитие города»,распоряжение администрации Города Томска № р 143 от 20.02.2016 г.
						</h3>
					</div>
				</div>
@*				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/КондратьевКВ.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;"> Кондратьев Кирилл Викторович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 2 года</h4><h4 style="margin-bottom:0;">Педагогический стаж: 2 года</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Забайкальский гос. Гуманитарный педагогический университет г. Чита, 2008 г, квалификация- педагог по физической культуре,направление –«Физическая культура».
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО,с 15.04.2019 г. по 29.04.2019 г. 72 часа, по программе  «Организация физкультурно-оздоровительной деятельности в дополнительном образовании».
						</h3>

					</div>
				</div>*@
@*				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/МихайловскаяНА.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;"> Михайловская Наталия Александровна</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 19 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 5 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Томский государственный архитектурно-строительный университет,1997 г. ,квалификация: инженер-экономист по специальности Экономика и управление в строительстве.
						</h3>
						<h3>
							Диплом о профессиональной переподготовке «Столичный учебный цент» по программе «Тренер-преподаватель: Теория и методика тренерской деятельности по физической культуре и спорту», 28.07.2020 г. Присвоена квалификация Тренер-преподаватель.
						</h3>

						<h4>
							Награды, звания (ЗР, ЗТ, отличник и пр.), грамоты (за последние 5 лет не ниже начальника управления/департамента)
						</h4>
						<h3>
							Присвоено звание Мастер спорта России международного класса по легкой атлетике, 07.08.2001 г.
						</h3>
					</div>
				</div>*@
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/Полех Владимир Николаевич.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;">Полех Владимир Николаевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 9 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 9 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Г. Новокузнецк «Кузбасская государственная педагогическая академия», педагог по ФК, 2007 г.
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО,2019 г. 72 часа, по программе  «Организация физкультурно-оздоровительной деятельности в дополнительном образовании».<br/>
						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спортивного резерва в футболе»
						</h3>
					</div>
				</div>
				<div class="teacher">
				<div class="photo">
						<img src="~/images/Coaches/Константиновский Евгений Сергеевич.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Константиновский Евгений Сергеевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 6,5 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 3 года</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							ТГПУ 2013-2019 факультет «Физической культуры и спорта». Имеет лицензию С-UEFA.
						</h3>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
						<h3>
							Воспитанник ЦПФ «Томь», с 2011 по 2014 года игрок молодёжного футбольного клуба «Томь».<br />
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/Изотов Илья Александрович.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Изотов Илья Алекандрович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 6 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 2 года</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Г. Новосибирск "Новосибирский государственный педагогический университет", 2017 бакалавриат по направлению подготовки "Педагогическое образование".
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/Кисляков Игорь Михайлович.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Кисляков Игорь Михайлович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 34 года</h4><h4 style="margin-bottom:0;">Педагогический стаж: 15 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Г. Рубцовск "Рубцовский педагогический колледж", 2015 г. по специальности физическая культура
						</h3>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
@*				<div class="teacher">
					<div class="photo">
						<img src="~/images/Management/Empty.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;">Цыганкова Елена Сергеевна</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: Х лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: Х лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Г. Томск, Негосударственное (частное) образовательное учреждение высшего профессионального образования «Томский институт бизнеса», 2012 г., квалификация «Дизайнер», (дизайнер среды), по специальности «Дизайн»
						</h3>
						<h3>
							- профессиональная переподготовка, 2016 г. по программе «Теория и методика физической культуры и спортивной тренировки», на ведение профессиональной деятельности в сфере физической культуры и спорта,  г.Омск, факультет дополнительного профессионального образования ФГБУВО «Сибирский гос. Университет физической культуры и спорта»
						</h3>
						
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО 21.09.2015 по 14.10.2015 г. По программе : «Физическое развитие воспитанников и обучающихся в условиях реализации ФГОС», 108 часов.
						</h3>
					</div>
				</div>*@
@*				<div class="teacher">
					<div class="photo">
						<img style="border-bottom:3px solid #c5002e;border-radius:8px 0px 0px 0px" src="~/images/Coaches/ЛугачевАС.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Лугачев Алексей Сергеевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 9 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 8 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							ТГПУ, специалист по физической культуре,2015 г., квалификация «Специалист по физической культуре и спорту, по специальности «Физическая культура и спорт»
						</h3>
						<h3>
							ФГБОУВО «Сибирский государственный университет физической культуры и спорта» по программе «Спортивная подготовка по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере физической культуры и спорта, квалификация-тренер по виду спорта(игровые виды спорта), преподаватель.
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							АНО «Сибирский центр подготовки в сфере футбола» г. Омск, 2020 г.,  по программе «Обучение тренеров по футболу на аттестационный уровень «С»,124 часа.<br/>
						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спортивного резерва в футболе
						</h3>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>*@
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/Шкляр Евгений Андреевич.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Шкляр Евгений Андреевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 6 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 6 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							ФГБОУВПО «Томский государственный педагогический университет» г. Томск, 2015 г. диплом бакалавра , по программе 49.03.01 «Физическая культура», квалификация «бакалавр».
						</h3>
						<h3>
							Диплом о профессиональной переподготовке, 2020 г. , г. Омск, ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» по программе «Спортивная подготовка по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере
						</h3>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							АНО «Сибирский центр подготовки в сфере футбола» г. Омск, 2020 г.,  по программе «Обучение тренеров по футболу на аттестационный уровень «С»,124 часа.
						</h3>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="border-bottom:3px solid #c5002e;border-radius:8px 0px 0px 0px" src="~/images/Coaches/Набоков Максим Николаевич.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Набоков Максим Сергеевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 10 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 4 года</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							ТГПУ, магистр, педагогическое образование, направленность образовательной программы : «Образование в области физической культуры»,2016г
						</h3>
						<h3>
							Диплом о профессиональной переподготовке, 2020 г. , г. Омск, ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» по программе «Спортивная подготовка по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере физической культуры и спорта, квалификация-тренер по виду спорта(игровые виды спорта), преподаватель
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО,2019 г. 72 часа, по программе  «Организация физкультурно-оздоровительной деятельности в дополнительном образовании».<br/>
							
						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спортивного резерва в футболе»
						</h3>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/Токпанов Рашид Каптаевич.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Токпанов Рашид Каптаевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 39 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 36 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Томский государственный педагогический институт им. Ленинского комсомола по специальности физическое воспитание, квалификация-учитель средней школы, 1985 г.
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ФГБОВО ТГПУ удостоверение о повышении квалификации 2018,в объеме 108 часов «Проектирование и реализация современного занятия практико-ориентированной направленности (технология, ОБЖ, физическая культура) в условиях<br />
						</h3>
						<h3>
							ФГОС: психолого-педагогический подход.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="border-bottom:3px solid #c5002e;border-radius:8px 0px 0px 0px" src="~/images/Coaches/ФранкАЭ.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Франк Артур Эдуардович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 11 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 8 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Г. Томск, ФГБОУВПО «Томский государственный педагогический университет,2013 г., квалификация «Педагог по физической культуре» по специальности «Физическая культура»
						</h3>
						<h3>
							Диплом о профессиональной переподготовке, 2020 г. , г. Омск, ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» по программе «Спортивная подготовка по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере физической культуры и спорта, квалификация-тренер по виду спорта(игровые виды спорта), преподаватель
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ФГА ОУВО «Национальный исследовательский Томский политехнический университет» по программе «Допинговые проблемы в спорте», 36 часов, 2018 г.<br />
							
						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спортивного резерва в футболе»
						</h3>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="border-bottom:3px solid #c5002e;border-radius:8px 0px 0px 0px" src="~/images/Coaches/Толстошеев Андрей Викторович.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Толстошеев Андрей Викторович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 35 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 25 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Казахский институт физической культуры, по специальности «Физическое воспитание, квалификация « преподаватель физического воспитания», год окончания 1985 г.
						</h3>
						<h3>
							Диплом о профессиональной переподготовке, 2020 г. , г. Омск, ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» по программе «Спортивная подготовка по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере физической культуры и спорта, квалификация-тренер по виду спорта(игровые виды спорта), преподаватель
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО Сертификат в рамках повышения квалификации 2019г. По программе : «Совершенствование профессиональной компетенции учителей физической культуры и преподавателей-организаторов ОБЖ, в рамках реализации предметных Концепций».<br />
							
						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спортивного резерва в футболе»
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="border-bottom:3px solid #c5002e;border-radius:8px 0px 0px 0px" src="~/images/Coaches/Родионов Максим Николаевич.jpg" />
					</div>
					<div>

						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Родионов Максим Николаевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 4 года</h4><h4 style="margin-bottom:0;">Педагогический стаж: 3 года</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							ФГБОУВПО «Томский государственный архитектурно-строительный университет» г. Томск, 2015 год, по специальности 270109.65 Теплогазоснабжение и вентиляция, квалификация «Инженер».
						</h3>
						<h3>
							702405204224, 03.10.2018 г., в ФГБОУВО «Томский государственный педагогический университет» по программе Физическая культура в объеме 510 часов на ведение профессиональной деятельности в сфере преподавания физической культуры.
						</h3>
						<h3>
							Диплом о профессиональной переподготовке по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере физической культуры и спорта, квалификация-тренер по виду спорта(игровые виды спорта), преподаватель
						</h3>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							АНО «Сибирский центр подготовки в сфере футбола» г. Омск, 2020 г.,  по программе «Обучение тренеров по футболу на аттестационный уровень «С»,124 часа

						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спортивного резерва в футболе»
						</h3>
					</div>
				</div>
@*				<div class="teacher">
					<div class="photo">
						<img style="border-bottom:3px solid #c5002e;border-radius:8px 0px 0px 0px" src="~/images/Coaches/СмагуловМК.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Смагулов Максат Канатбекович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 4 года</h4><h4 style="margin-bottom:0;">Педагогический стаж: 3 года</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							ФГАОУВО «Национальный исследовательский Томский политехнический университет» г. Томск Диплом бакалавра Направление 034300 Физическая культура Квалификация бакалавр , 2014 г.
						</h3>
						<h3>
							Диплом о профессиональной переподготовке, 2020 г. , г. Омск, ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» по программе «Спортивная подготовка по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере физической культуры и спорта, квалификация-тренер по виду спорта(игровые виды спорта), преподаватель
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ФГБО учреждение высшего образования «Томский государственный педагогический университет, 2019 г. В объеме 108 часов по дополнительной профессиональной программе «Подготовка спортивных судей главной судейской коллегии и судейских бригад физкультурных и спортивных мероприятий Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне (ГТО).
						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спортивного резерва в футболе»
						</h3>
					</div>
				</div>*@
				<div class="teacher">
					<div class="photo">
						<img style="border-bottom:3px solid #c5002e;border-radius:8px 0px 0px 0px" src="~/images/Coaches/Пузанов Геннадий Александрович.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Пузанов Геннадий Александрович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 44 года</h4><h4 style="margin-bottom:0;">Педагогический стаж: 26 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Омский государственный педагогический институт физической культуры, преподаватель по физической культуре, тренер по футболу, 1991 г.
						</h3>
						<h3>
							Диплом о профессиональной переподготовке, 2020 г. , г. Омск, ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» по программе «Спортивная подготовка по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере физической культуры и спорта, квалификация-тренер по виду спорта(игровые виды спорта), преподаватель
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО,2019 г. 72 часа, по программе  «Организация физкультурно-оздоровительной деятельности в дополнительном образовании».
						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спортивного резерва в футболе»
						</h3>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
						<h4>
							Награды, звания (ЗР, ЗТ, отличник и пр.), грамоты (за последние 5 лет не ниже начальника управления/департамента)
						</h4>
						<h3>
							Почетная грамота Федерации профсоюзных организаций Томской области (2018 г.).
						</h3>
						<h3>
							Почетная грамота Администрации Города Томска (2018 г.).
						</h3>
					</div>
				</div>
@*				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/СибяряковАГ.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Сибиряков Андрей Геннадьевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 31 год</h4><h4 style="margin-bottom:0;">Педагогический стаж: 29 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Диплом о профессиональной переподготовке, 2020 г. , г. Омск, ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» по программе «Спортивная подготовка по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере физической культуры и спорта, квалификация-тренер по виду спорта(игровые виды спорта), преподаватель
						</h3>
					</div>
				</div>*@
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/Сергунин Владислав Викторович.JPG" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Сергунин Владислав Викторович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 8 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 7 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Федеральное государственное автономное образовательное учреждение высшего образования «Национальный исследовательский Томский государственный университет», квалификация- Магистр, направление «физическая культура», 2019 г.
						</h3>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							АНО «Сибирский центр подготовки в сфере футбола» г. Омск, 2020 г.,  по программе «Обучение тренеров по футболу на аттестационный уровень «С»,124 часа.
						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спорта(игровые виды спорта), преподаватель
						</h3>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/Далин Александр Сергеевич.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Далин Александр Сергеевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 9 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 8 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							ФГАОУВО НИ ТГУ,  2017 г., направление 49.04.01 Физическая культура, присвоена квалификация Магистр.
						</h3>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО,2019 г. 72 часа, по программе «Современные технологи и реализации дополнительного образования детей (физическая культура и спорт)».
						</h3>
						<h3>
							АНО «Сибирский межрегиональный центр подготовки специалистов в сфере футбола» г. Омск  2020г.,  по программе «Обучение тренеров по футболу на аттестационный уровень «С»,124 часа.
						</h3>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="border-bottom:3px solid #c5002e;border-radius:8px 0px 0px 0px" src="~/images/Coaches/Мехович Владимир Викторович.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Мехович Владимир Викторович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 24 года</h4><h4 style="margin-bottom:0;">Педагогический стаж: 9 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Барнаульский государственный педагогический университет, квалификация «Преподаватель физической культуры и спорта», Валеолог, по специальности «Физическая культура и спорт», 1998 г.
						</h3>
						<h3>
							Диплом о профессиональной переподготовке, 2020 г. , г. Омск, ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» по программе «Спортивная подготовка по виду спорта (группе видов спорта)» с 03.02.2020 по 22.10.2020 г., 724 часа, на ведение профессиональной деятельности в сфере физической культуры и спорта, квалификация-тренер по виду спорта(игровые виды спорта), преподаватель
						</h3>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							ТОИПКРО,2019 г.72 часа, по программе  «Организация физкультурно-оздоровительной деятельности в дополнительном образовании».
						</h3>
						<h3>
							АНО «Сибирский межрегиональный центр подготовки специалистов в сфере футбола» г. Омск  2020г.,  по программе «Обучение тренеров по футболу на аттестационный уровень «С»,124 часа.
						</h3>
						<h3>
							ФДО ФГБОУВО «Сибирский государственный университет физической культуры и спорта» г. Омск, 144 часа, с 17.08.2020 по 26.10.2020, по программе Современные технологии подготовки спортивного резерва в футболе»
						</h3>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
@*				<div class="teacher">
					<div class="photo">
						<img style="" src="~/images/Management/EmptyM.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;">Надирашвили Давид Гияевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 4 года</h4><h4 style="margin-bottom:0;">Педагогический стаж: 4 года</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							«Томский государственный университет систем управления и электроники». Программа
							магистратуры по направлению подготовки 38.04.02 «Менеджмент».
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>*@
				<div class="teacher">
					<div class="photo">
						<img style="" src="~/images/Coaches/Папырин Виктор Андреевич.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Папырин Виктор Андреевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 14 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 10 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							АНО «Сибирский межрегиональный центр подготовки специалистов в сфере футбола» -
							аттестация уровня «С».
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="" src="~/images/Coaches/Залозный Дмитрий Николаевич.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Залозный Дмитрий Николаевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 35 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 35 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							Курсы повышения квалификации «Основные принципы научно-методического обеспечения подготовки спортивного
							резерва» 18.09.23-29.09.23.
						</h3>
						<h3>
							Работал в футбольном клубе «Томь» с возрастами 1984-1985, 1993, 2003, 2007 года рождения. 
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="" src="~/images/Coaches/Воронов Сергей Васильевич.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Тренер-преподаватель</h4><h3 style="margin-bottom:0;">Воронов Сергей Васильевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 40 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 30 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Томский государственный педагогический институт им. Ленинского комсомола, специальность «физическая культура», квалификация «учитель физической культуры», 1990 год.
						</h3>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							АНО «Сибирский центр подготовки в сфере футбола» г. Омск, 2020 г., по программе «Обучение тренеров по футболу на аттестационный уровень «С», 124 часа.
						</h3>

					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="" src="~/images/Coaches/Лисовский Сергей Борисович.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;">Лисовский Дмитрий Борисович</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 22 года</h4><h4 style="margin-bottom:0;">Педагогический стаж: 9 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							ГОУ ВПО «Томский государственный педагогический университет», квалификация «педагог по физической культуре,» специальность «физическая культура»
						</h3>
						<h3>
							Тренер по футболу международной категории «C-УЕФА»
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="" src="~/images/Coaches/Раззамазов Олег Николаевич.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор по ФК</h4><h3 style="margin-bottom:0;">Раззамазов Олег Николаевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 34 года</h4><h4 style="margin-bottom:0;">Педагогический стаж: 14 лет</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Новокузнецкий государственный педагогический институт, специальность «физическая культура», квалификация «учитель физической культуры», 1996 год.
						</h3>
						<h4>
							Курсы повышения квалификации
						</h4>
						<h3>
							«Современные технологии подготовки спортивного резерва в футболе» с 12.10.2022 по 10.11.2022, 144 часа.
						</h3>
						<h3>
							АНО «Сибирский центр подготовки в сфере футбола» г. Омск, 2021 г., по программе «Обучение тренеров по футболу на аттестационный уровень «С», 124 часа;
						</h3>
						<h3>
							ГАОУ ВО МГУСиТ с 14 октября по 07 ноября 2022 года по дополнительной профессиональной программе «Современные технологии подготовки спортивного резерва в футбол», 144 часа.
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img style="" src="~/images/Coaches/Себелев Виктор Евгеньевич.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Инструктор-методист</h4><h3 style="margin-bottom:0;">Себелев Виктор Евгеньевич</h3></div>
							<div style="display:block; width:100%;text-align:end;"><h4>Общий стаж: 25 лет</h4><h4 style="margin-bottom:0;">Педагогический стаж: 23 года</h4></div>
						</div>
						<h4>
							Образование
						</h4>
						<h3>
							Тренер по футболу международной категории «А-УЕФА»
						</h3>
						<h3>
							С 1992 по 2004 год - игрок ФК «Томь». За время выступления за команду забил 83 гола, став таким образом лучшим бомбардиром в истории клуба.
							 Тренерскую карьеру начал в 2007 году в дубле «Томи» и до 2020 года работал в структуре футбольного клуба «Томь».
						</h3>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/ШумаковаКА.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Медицинский работник</h4><h3 style="margin-bottom:0;">Шумакова Ксения Александровна</h3></div>
						</div>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/ШарыповаГР.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Медицинский работник</h4><h3 style="margin-bottom:0;">Шарыпова Гульнара Рамильевна</h3></div>
						</div>
					</div>
				</div>
				<div class="teacher">
					<div class="photo">
						<img src="~/images/Coaches/ВоробьеваОВ.jpg" />
					</div>
					<div>
						<div class="teacher_head">
							<div style="display:block; width:100%;"><h4>Медицинский работник</h4><h3 style="margin-bottom:0;">Воробьёва Ольга Владимировна</h3></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>