@page
@model DUSH17.Pages.UFLModel
@{
	ViewData["Title"] = "Юношеская футбольная лига";
}
<html id="uflpage">
	<body>
	<iframe onload="this.height=screen.height;" src="https://yflrussia.ru/tournament/1038624/tables">
		</iframe>
	</body>
</html>
