@page
@model DUSH17.Pages.UFL_MatchModel
@{
	ViewData["Title"] = "ЮФЛ-Сибирь";
	ViewBag.Description = "СШ-17 Стартует в ЮФЛ-Сибирь";
	ViewBag.Keywords = "СШ-17 Томск, ДЮСШ-17 Томск, СШ №17, СШ% 17 Томск, Спортивная школа 17 Томск, СШ 17 томск официальный сайт, ЮФЛ, ЮФЛ-Сибирь";
}
<html>
<body class="news">
	<img src="~/images/News/banner03.jpg" style="width:100%;margin-bottom:1%" />
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
		<h2 style="margin:0;">
			13 ТУР ЮФЛ Сибирь!
		</h2>
		<hr style="margin-top:0;margin-bottom:1%; color:black;height:1px" />
		<h2>
			В тринадцатом туре наши команды встретятся с командами Кузбасс-СШОР
		</h2>
		<h2>
			Матчи пройдут 03 августа на стадионе "Труд" в городе Томске
		</h2>
		<h2>
			ЮФЛ-3 (2009 г.р.) 11:00 
		</h2>
		<h2>
			ЮФЛ-2 (2008 г.р.) 14:00 
		</h2>
		<h2>
			ЮФЛ-1 (2007 г.р.) 17:00 
		</h2>
		<h2>
			Приходите поддержать наши команды!
		</h2>
	</div>
</body>

</html>
