@page
@model DUSH17.Pages.vospitannikModel
@{
	ViewData["Title"] = "Воспитанник СШ №17 вызван в молодежную сборную Таджикистана (U-23)";
	ViewBag.Description = "Спортивная школа №17 Школа футбола Мехрон Мадаминов";
	ViewBag.Keywords = "СШ-17 Томск, ДЮСШ-17 Томск, СШ №17, СШ% 17 Томск, Спортивная школа 17 Томск, СШ 17 томск официальный сайт, Мехрон Мадаминов, Истиклол";
}
<html>
<body class="news">
	<img src="~/images/News/vosp.jpg" style="width:100%;margin-bottom:1%" />
	<div style="    -webkit-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 22px -2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;padding:1%;padding-left:2%;padding-right:2%">
		<h2 style="margin:0;">
			Воспитанник СШ №17 вызван в молодежную сборную Таджикистана (U-23)
		</h2>
		<hr style="margin-top:0;margin-bottom:1%; color:black;height:1px" />
		<h2>
			Воспитанник СШ-17 г. Томска Мехрон Мадаминов стал футболистом «Истиклола».
			Игровую карьеру начинал в составе «Томи», затем выступал за «Енисей» и «Торпедо» (Миасс).
		</h2>
		<h2>
			В “Томи” в 2021-м он дебютировал в ФНЛ, затем перешел в “Енисей”, где играл за дубль во второй лиге. Провел 21 матч, забил 4 мяча. Летом прошлого года перешел в “Торпедо”. За полсезона на его счету 5 голов в 16 матчах.
			В этом году Мадаминов ушел из “Торпедо”.
		</h2>
		<h2>
			Футболист прошел вместе с «Истиклолом» сборы в Анталье, сейчас находится в расположении молодежной сборной Таджикистана (U-23).
		</h2>
		<h2>
			По информации республиканского портала Sports.tj, контрактное соглашение с футболистом действует до конца 2025 года.
		</h2>
		<h2>
			На фотографии сборная команда СШ-17 2002 г.р. Мехрон Мадаминов в нижнем ряду крайний слева
		</h2>
		<div style="text-align:center">
			<img src="~/images/News/madaminov.jpg" style="width:100%; max-width:800px; height:auto" />
		</div>
	</div>
</body>

</html>